<div class="hdr">
  <div class="ui container">
    <img src="img/kitnr-logo.png" />
    <nav class="nav">
      {{#link-to 'index' class='nav_link'}}Home{{/link-to}}
      {{#link-to 'post' class='nav_link'}}Posts{{/link-to}}
      {{#link-to 'user' class='nav_link'}}Profile{{/link-to}}
    </nav>
  </div>
</div>

<div class="ui container">
  <div class="ui grid">
    <div class="six wide column">

      <div class="ui fluid card">
        <div class="image">
          <img src="https://s.gravatar.com/avatar/fefd49e59a6dbc50e721d5dd1f632313?s=400" alt="profile"/>
        </div>
        <div class="content">
          <a class="header">Name</a>
          <div class="description">
            Your description goes here.
          </div>
        </div>
        <div class="extra content">
          <i class="user icon"></i>
            22 posts
        </div>
      </div>

    </div>
    <div class="ten wide column">
      <div class="ui fluid card">
        <div class="image">
          <img src="img/kitten1.jpg" alt="kitten"/>
        </div>
        <div class="content">
          <h2 class="header">Header</h2>
          <div class="description">
            the description
          </div>
        </div>
      </div>

      <div class="ui fluid card">
        <div class="image">
          <img src="img/kitten2.jpg" alt="kitten" />
        </div>
      </div>
    </div>
  </div>
</div>
